<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="zh-CN">
<head th:replace="common::commonHeader('主页')">
</head>
<body>
    <div th:include="common::commonNav"></div>
    <div class="container">
        <form method="post" th:action="@{/daitoudian/mail/add}" class="form-horizontal" onkeydown="if(event.keyCode==13){return true;}">
            <div class="form-group">
                <label style="font-size: 12px;color: red" class="col-sm-2 control-label"  ></label>
                <div class="col-sm-4">
                    <label style="font-size: 12px;color: red" class="control-label" th:text="${msg}" ></label>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="col-sm-2 control-label" >投递邮件号</label>
              <div class="col-sm-4 ">
                  <textarea class="form-control" rows="8" name="mailnos" wrap="hard" onkeyup="value=value.replace(/[^\r\n\w\.\/]/ig,'')"> </textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-2 control-label">代投点</label>
              <div class="col-sm-4 ">
                    <select class="form-control" name="daitoudian" >
                        <option  th:each="daitoudian : ${daitoudianlist}" th:text="${daitoudian.name}" th:value="${daitoudian.name}"></option>
                    </select>
                </div>
            </div>
            
            

            <div class="form-group">
                <label for="exampleInputFile" class="col-sm-2 control-label"></label>
                <div class="col-sm-2 ">
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </div>
            </div>
        </form>
    </div>
    <div th:include="common::commonFooter"></div>
</body>
</html>