<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="zh-CN">
<head th:replace="common::commonHeader('主页')">
</head>
<body>
    <div th:include="common::commonNav"></div>
    <div class="container">
        <form method="post" th:action="@{/dengjiip/update}" class="form-horizontal" >
            <div class="form-group">
                <label style="font-size: 12px;color: red" class="col-sm-2 control-label"  ></label>
                <div class="col-sm-4">
                    <label style="font-size: 12px;color: red" class="control-label" th:text="${msg}" ></label>
                </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >IP</label>
              <div class="col-sm-4 ">
                  <input type="text"  class="form-control"  name="ip" th:value="${ip!=null}?${ip.ip}" readonly="true"/>
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >物理地址</label>
              <div class="col-sm-4 ">
                  <input type="text"  class="form-control"  name="mac" th:value="${ip!=null}?${ip.mac}" />
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >电脑名</label>
              <div class="col-sm-4 ">
                  <input type="text"  class="form-control"  name="mingcheng" th:value="${ip!=null}?${ip.mingcheng}" />
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >部门</label>
              <div class="col-sm-4 ">
                  <select class="form-control" name="bumen" >
                        <option  th:each="bumen : ${bumenlist}" th:text="${bumen.bumen}" th:value="${bumen.bumen}" th:selected=" ${ip!=null}?${ip.bumen} == ${bumen.bumen}"></option>
                    </select>
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >设备类型</label>
              <div class="col-sm-4 ">
                  <input type="text" class="form-control"  name="shebeilei" th:value="${ip!=null}?${ip.shebeilei}" />
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >趋势</label>
              <div class="col-sm-4 ">
                  <select class="form-control" name="qushi" >
                      <option th:each="xuanze : ${xuanzelist}" th:text="${xuanze}" th:value="${xuanze}" th:selected=" ${ip!=null}?${ip.qushi} == ${xuanze}"></option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >landesk</label>
              <div class="col-sm-4 ">
                  <select class="form-control" name="landesk" >
                      <option  th:each="xuanze : ${xuanzelist}" th:text="${xuanze}" th:value="${xuanze}" th:selected=" ${ip!=null}?${ip.landesk} == ${xuanze}"></option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label" >cdms</label>
              <div class="col-sm-4 ">
                  <select class="form-control" name="cdms" >
                      <option th:each="xuanze : ${xuanzelist}" th:text="${xuanze}" th:value="${xuanze}" th:selected=" ${ip!=null}?${ip.cdms} == ${xuanze}"></option>
                  </select>
              </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-2 ">
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </div>
            </div>
        </form>
    </div>
    <div th:include="common::commonFooter"></div>
</body>
</html>