<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="zh-CN">
<head th:replace="common::commonHeader('主页')">
</head>
<body>
    <div th:include="common::commonNav"></div>
    <div class="container">
        <form method="post" th:action="@{/liucunhuandan/add}" class="form-horizontal" enctype="multipart/form-data" onkeydown="if(event.keyCode==13){return false;}">
            <div class="form-group">
                <label style="font-size: 12px;color: red" class="col-sm-2 control-label"  ></label>
                <div class="col-sm-4">
                    <label style="font-size: 12px;color: red" class="control-label" th:text="${msg}" ></label>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="col-sm-2 control-label" >投递邮件号</label>
              <div class="col-sm-4 ">
                <input type="text" class="form-control"  name="toudimailno" th:value="${mail!=null}?${mail.toudimailno}" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-2 control-label">收寄邮件号</label>
              <div class="col-sm-4 ">
                <input type="text" class="form-control"  name="shoujimailno" th:value="${mail!=null}?${mail.shoujimailno}" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
              </div>
            </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-2 control-label" >邮件价值</label>
              <div class="col-sm-4 ">
                <input type="number" min="0" step="0.01" class="form-control"  name="shoujijine"  th:value="${mail!=null}?${mail.shoujijine}">
              </div>
              
            </div>

            <div class="form-group">
                <label for="exampleInputFile" class="col-sm-2 control-label"></label>
                <div class="col-sm-2 ">
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </div>
            </div>
        </form>
    </div>
    <div th:include="common::commonFooter"></div>
</body>
</html>